
- provide(:title, "About")

%h1 About
%p
  Juke joint is the best place to discover playlists

  Listen for $1 monthly to  playlists, all lovingly handcrafted by our Dj's who know and love music. Pick a top playlist below, or explore playlists by artist, genre, or activity above.

  Juke joint  was founded in 2016 by John kyony and launched on 18/09/16 by a small team working nights and weekends.
