
- provide(:title, "Help")

%h1 Help
%p 
  FAQ
  Account
  How do I delete my profile?

  How do I change my username? I’m going into witness protection.

  How do I add an Artist, Label, or Music Blog badge to my profile?

  How can I get 8tracks to stop publishing to my Facebook wall?

  How do I unsubscribe from your mailing list or turn off push notifications?

  I’m a musician. How do I promote my music to the lovely people of 8tracks?

  How do I select which playlist comes on next?

  Troubleshooting
  I’m having trouble playing music on the website. What can I do?

  I’m having trouble playing music on the mobile app. Any tips?

  Mix creation
  Why can't I get tracks to upload?

  Why aren't the songs I uploaded appearing in "My tracks"?

  Why isn't the Mac Uploader working?

  Which are the best playlists on the site?

  How do I make a mix private/public?

  Why can't I upload more than two tracks from the same artist?

  My playlist won’t save the edits I made. What’s happening?

  These playlists are awesome. How do I make one?

  How do I make my playlist great/transcendent?

  Legal stuff
  Why can’t I see the track listing before I listen to a playlist?

  Why do you shuffle the order of tracks on a playlist on the second listen?

  Why can't I skip through tracks, or go back and replay a song I liked?

  Why did you mark my playlist non-compliant? Are you mad at me?

  What does 8tracks consider abuse?

  What happens to me if I abuse the comments?

  What's the deal with Skip Limits?

  Miscellaneous
  How do I embed the 8tracks player on my site?

  What does NSFW mean?

  Why do you run ads?

  What is 8tracks plus?

  What in the heck are certifications? And what makes a playlist a gem?

  Is 8tracks AirPlay enabled?

  How do I filter adult content?

  8tracks, do you love me?

  Ad-free subscriber outside the US & Canada?